<table>
  <tr>
    <th>Station naam</th>
    <th>Advies</th>
  </tr>

  <tr>
    <td>Oldeboorn</td>
    <td><%= @station1 %></td>
  </tr>
  <tr>
    <td>Wieringermeer</td>
    <td><%= @station2 %></td>
  </tr>
  <tr>
    <td>Beverwijk</td>
    <td><%= @station3 %></td>
  </tr>
</table>