

<div class="row">
  <div class="small-4 column small-centered">
    <form>
      <input type="text" />
      <input type="radio" />
      <input type="checkbox" />
      <select>
        <option>asd</option>
      </select>
    </form>
  </div>
</div>